# Ignore every CSV file anywhere
*.csv

# Ignore every Singularity image file anywhere
*.sif

*.err

*.out

*.mp4

*.wav

*.pickle

*.pdf

*.json

*.txt

*.log

*.lock


*.skipped


*.cubin

*.png

hr_synchrony_analysis/OLD_BU/